<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crafting Core Lessons</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">

</head>
<body>
<header>
<nav>
    <a href="https://corelessons.herokuapp.com/lessons" >Lesson List API</a>
    <a href="https://corelessons.herokuapp.com/">Standards API</a>
<!--    <a href="https://corelessons.herokuapp.com/lesson/new">New Lesson from API</a>-->
    <a href="/lesson-list" >Lesson List</a>
    <a href="/standard-list">All Standards</a>
    <a href="/lesson-view/new/">New Lesson Plan</a>
</nav>
</header>
<main>
<div class="content">
{% block content%}
{% endblock %}
</div>
</main>
</body>
</html>
