{% extends 'base.html' %}

{% block content %}

<div >

    <h2>Lesson: {{lesson.name}}, Grade {{lesson.grade}} - {{lesson.topic}}</h2>
    <h3>Standards</h3>
    {% for standard.data in lesson.standard.all %}
    {{ standard.data }}
    <br/>
    {% endfor %}
    <h4>Important Vocabulary: {{lesson.vocab}}</h4>
    <p>Description: {{lesson.description}}</p>
    <p>Activities: {{lesson.activities}}</p>
    <p>Accommodations: {{lesson.accommodations}}</p>

</div>
<a href="{% url 'lesson_edit' pk=lesson.pk %}">Edit this Lesson</a>

<form action="{% url 'lesson_delete' pk=lesson.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete this Lesson">

</form>
{% endblock %}
