[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
djangorestframework = "*"
httpie-api-auth = "*"
djangorestframework-jsonapi = "*"
django-filter = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
django = "*"
pip = "*"
new-package = "*"

[requires]
python_version = "3.7"
