[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
restframeworkauthtoken = "*"
httpie-api-auth = "*"
rest-framework-json-api = "*"
djangorestframework-jsonapi = "*"
django-filter = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
Django = "*"
pip = "*"
python = "*"
python-3-7-5 = "*"

[requires]
python_version = "3.7"
